*,
*::after,
*::before,
html,
body {
  scroll-behavior: smooth;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
html {
  font-size: 10px;
}

body {
  overflow-x: hidden;
}
.display_none {
  display: none;
}

.btn {
  position: relative;
  z-index: 1000;
  padding: 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: "RocknRoll";
  border-radius: 5px;
  &:hover {
    background-color: rgba(black, 0.2);
  }
}
.link {
  text-decoration: none;
  color: black;
}
.text {
  font-family: "RocknRoll";
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
  body {
    font-size: 16px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  body {
    font-size: 18px;
  }
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1075px;
  }
}
@media (min-width: 1300px) {
  body {
    font-size: 20px;
  }
  .container {
    max-width: 1175px;
  }
}
@media (min-width: 1650px) {
  body {
    font-size: 22px;
  }
  .container {
    max-width: 1460px;
  }
}
