.customAudioPlayer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffd573;
    border: 2px solid#61B7CF;
    border-radius: 25px;
    min-width: 250px;
    max-width: 500px;
}
.toggle-play-btn {
    cursor: pointer;
    background-image: url(../images/play_media.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 30px;
    min-height: 30px;
}
%range {
    -webkit-appearance: none;
    margin-right: 15px;
    height: 7px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    background-image: linear-gradient(#ff4500, #ff4500);
    background-size: 0% 100%;
    background-repeat: no-repeat;
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: #ff4500;
        cursor: ew-resize;
        box-shadow: 0 0 2px 0 #555;
        transition: background 0.3s ease-in-out;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
    }
}
.progres-range {
    height: 5px;
    @extend %range;
    width: 70%;
}

.progress-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 3%;
}
.time-curr {
    font-size: 16px;
}
.time-end {
    font-size: 16px;
}
.volume-block {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 5%;
}
.volume-range {
    height: 5px;
    @extend %range;
    background-size: 50% 100%;
}
.toggle-volume-btn {
    cursor: pointer;
    background-image: url(../images/speaker_audio.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 30px;
    min-height: 30px;
}
.volume-value {
    font-size: 16px;
}
