
@font-face {
    font-family: "RocknRoll";
    src: url("../fonts/RocknRoll_One/RocknRollOne-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "Rubik";
    src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: "Great_Vibes";
    src: url("../fonts/Great_Vibes/GreatVibes-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
