.gallery {
    display: flex;
    flex-direction: column;
}
.gallery-container {
    padding: 10px 0;
}
.bird {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}
.bird-image {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-width: 200px;
    min-height: 155px;
    width: 200px;
    border-radius: 5px;
}
.bird-name {
    font-size: 22px;
    font-weight: 800;
}
.bird-species {
    font-size: 18px;
}
.backBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: green;
    background-image: url(../images/back.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    &:hover {
        background-color: #b9c300;
    }
    &:active {
        background-color:#e0e0f8;
    }
}
.bird-text {
    display: block;
    width: 70%;
}
@media (max-width: 768px) {
    .bird {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
